NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb+srv://abhinavpersonaldata_db_user:9hQbM8OH9Vrber7G@abhinavyadav.zlcl0a2.mongodb.net/?appName=abhinavyadav
JWT_SECRET=test-only-secret-do-not-use-in-production
CLOUDINARY_CLOUD_NAME=djo6rd9x
CLOUDINARY_API_KEY=888222145817463
CLOUDINARY_API_SECRET=RDJAkcP49cN_4iG1JOxoKemiD9I
CLIENT_URL=http://localhost:5173
VITE_PORT=5173
VITE_API_URL=http://localhost:5001
ADMIN_EMAIL=yadavabhinav551@gmail.com
ADMIN_PASSWORD=12345678